body{
  margin: 0;
  background-color: #080707;
  color: white;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

h1{
  font-size: 3rem;
}

h3{
  font-size: 2rem;
  margin-bottom: 0;
}

h4{
  margin-top: 10px;
  font-size: 1.2rem;
}

p{
  font-size: 1.2rem;
}

hr{
  width: 48px;
  border: 1px solid #28DED3;
}

a{
  color: white;
}

a:hover{
  color: #28ded3;
  text-decoration: none;
}

                                /* NAVBAR SECTION */

.navigation-bar{
  width:100%;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}

.font-nav{
  font-size: 1.3rem;
  font-weight: 200;
}

.gap-nav{
  margin-right: 30px;
}

.img-nav{
  width: 16px;
  height:16px;
  margin-right: 3px;
  color: #28ded3;
}

                      /* INTRODUCTION SECTION */

.tinted-img{
  width: 100%;
  height: 520px;
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url("images/test4.jpg");
    position: relative;
}

.float{
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -243px;
}

.font-intro1{
  margin-top: 0;
  margin-bottom: 0;
}

.font-intro2{
  margin-top:0;
  margin-bottom: 0;
}

.objective{
  margin-top: 50px;
}

.font-intro3{
  margin-top: 0;
  margin-bottom: 0;
}

.gap-intro3{
  margin-top: 30px;
}

                  /* SKILL SECTION */

.skill{
  padding: 60px 0 20px 0;
}
.main-div{
  padding: 0 3%;
  margin-top: 50px;
}

.sub-divs{
  width: 16%;
  display: inline-block;
}

.box{
  padding: 5px 10px;
  text-align: center;
}

.img-box{
  height: 180px;
  width: 180px;
  margin: 0 auto;
  background-color: #282828;
  border-radius: 10px;
  position: relative;
}

.img-skills{
  width: 112px;
  height: 112px;
  position: absolute;
  top: 50%;
  margin-top: -56px;
  left: 50%;
  margin-left: -56px;
}

.html{
  color: #F16529;
  position: absolute;
  top: 50%;
  margin-top: -56px;
  left: 50%;
  margin-left: -42px;
}

.react{
  color: #61DBFB;
  position: absolute;
  top: 50%;
  margin-top: -56px;
  left: 50%;
  margin-left: -56px;
}

.node{
  color: #68A063;
  position: absolute;
  top: 50%;
  margin-top: -56px;
  left: 50%;
  margin-left: -49px;
}

.java{
  color: #f89820;
  position: absolute;
  top: 50%;
  margin-top: -56px;
  left: 50%;
  margin-left: -42px;
}


                          /* PROJECT SECTION */
.project{
  padding: 60px 0;
}

.project hr{
  margin-bottom: 60px;
}

.project-head{
  margin: 10px 0 15px 0;
  font-size: 1.6rem;
}

.project-box{
  margin: 0 12%;
  padding: 5px;
  background-color: #282828;
  height: 360px;
}

.project-img{
  width: 480px;
  height:auto;
}

.align{
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  padding: 30px 10px 5px 5px;
}


                          /* QUALIFICATION SECTION */

.qualification{
  margin: 3% 5%;
}

.edu{
  width: 70px;
  margin-bottom: 40px;
}

.edu-box{
  padding: 10px 5px 10px 5px;
  background-color: #282828;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2);
}

.edu-box p{
  font-size: 1rem;
}

                    /* FOOTER SECTION */
.row{
  margin-top: 15px;
}

.contact{
  padding: 5px 10% 10px 10%;
  background-color: #282828;
  margin-top: 50px;
}

.info{
  margin-top: 0;
  padding: 3px;
}

.foot-border{
  border-left: 1px solid #28DED3;
}

.mobile{
  color: #ffb6c1;
}

.mail{
  width: 24px;
  height: 19px;
  margin-right: 1px;
}

.whatsapp-logo{
  width: 50px;
}

.floaticon{
  position: fixed;
  bottom: 3%;
  right: 2%;
  z-index: 888;
}



@media screen and (max-width: 1000px){

  h1{
    font-size: 64px;
  }

  h3{
    font-size: 2.5rem;
  }

  h4{
    font-size: 24px;
  }

  p{
    font-size: 1.5rem;
  }

  .font-nav{
    font-size: 1.6rem;
  }

  .float{
    position: absolute;
    top: 150px;
    left: 50%;
    margin-left: -344px;
  }

  .font-intro{
    font-size: 1.7rem;
  }

  .font-intro3{
    font-size: 1.7rem;
  }

  .main-div{
    padding: 0;
    margin-top: 50px;
  }

  .sub-divs{
    width: 15%;
    display: inline-block;
  }

  .box{
    padding: 5px 2px;
  }

  .img-box{
    height: 140px;
    width: 140px;
    margin: 0 auto;
    background-color: #282828;
    border-radius: 10px;
    position: relative;
  }

  .html{
    margin-left: -42px;
  }

  .node{
    margin-left: -49px;
  }

  .java{
    margin-left: -42px;
  }

  .project-head{
    font-size: 2rem;
  }

  .project-box{
    height:auto;
  }

  .project-img{
    width: 640px;
  }

  .align{
    padding: 10px 15px 5px 15px;
    height: 280px;
  }

  .qualification{
    margin: 3% 5% 5% 5%;
  }

  .edu-box h4{
    margin-bottom: 10px;
  }

  .edu-box p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem;
    margin-bottom: 10px;
  }

  .gap{
    margin-top: 10px;
  }

  .contact p{
    font-size: 2rem;
  }

  .foot-border{
    border-left: none;
  }

  .mail{
    width: 35px;
    height: 25px;
  }

  .whatsapp-logo{
    width: 80px;
  }

}

/* .view{
  width: 60px;
  height: 40px;
  color: white;
  background-color: #28DED3;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  left: 50%;
  margin-left: -30px;
  opacity: 0;
}

.view-text{
  margin: auto;
}

.img-div:hover .view{
  opacity: 1;
} */
